*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app.cartoon/
app.news/
demo.emptylayout/build/
lib.emptylayout/build/
demo.avatar/
lib.data.avatar/
诗词鉴赏/
